<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0"></div>


<div class="quarterbacks" style="display: none">
  <%= @quarterbacks.to_json(include: [:season_stat, :season_projection]) %>
</div>

<script type="text/javascript">
  var qbs = JSON.parse($('.quarterbacks').text());
  var series = []
  for (qb in qbs) {
    odp = qbs[qb].overall_draft_position;
    fantasy_points = qbs[qb].season_projection.fantasy_points;
    console.log("qbs[qb].overall_draft_position", qbs[qb].overall_draft_position);
    if (odp != null && fantasy_points != null){
      series.push({name: qbs[qb].display_name, data: [[qbs[qb].overall_draft_position, qbs[qb].season_projection.fantasy_points]]});
    }
  }
  console.log("series", series);


  $(function () {
        $('#container').highcharts({
            chart :{
              type: 'scatter'
            },
            title: {
                text: 'QB Efficiency',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: FantasyPros.com',
                x: -20
            },
            xAxis: {
                title: {
                    text: 'Overall Draft Position',
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min: null,
                max: null
            },
            yAxis: {
                title: {
                    text: 'Fantasy Points'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min: null,
                max: null
            },
            tooltip: {

                valueSuffix: 'fpoints'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0,
                itemMarginBottom:10
            },
            series: series,
            plotOptions: {
              scatter: {
                marker: {
                  radius: 10
                }
              }
            }
        });
    });
    

</script>