<div class="col-sm-12 col-md-12">  

  <div class="row throwToHeader">
    <div class="col-sm-4 col-md-4">  
    </div>
    <div class="col-sm-4 col-md-4">  
      <p>Quarterbacks</p>
    </div>
    <div class="col-sm-4 col-md-4">  
    </div>
  </div>

  <div class="row throwToPlayers">
    <div class="col-sm-4 col-md-4">
      
    </div>
    <div class="col-sm-4 col-md-4">
      <p>
        <% @onTeamQBs.each do |qb| %>
          <%= link_to qb.display_name, qb %><br>
        <% end %>
      </p>
    </div>
    <div class="col-sm-4 col-md-4">  

    </div>
  </div>

</div>