<div class="col-sm-12 col-md-12">  

  <div class="row-fluid throwToHeader">
    <div class="col-sm-4 col-md-4">  
      <p>Running Backs</p>
    </div>
    <div class="col-sm-4 col-md-4">  
      <p>Wide Receivers</p>
    </div>
    <div class="col-sm-4 col-md-4">  
      <p>Tight Ends</p>
    </div>
  </div>

  <div class="row-fluid throwToPlayers">
    <div class="col-sm-4 col-md-4">
      <p>
        <% @onTeamRBs.each do |rb| %>
          <%= rb.display_name %><br>
        <% end %>
      </p>
    </div>
    <div class="col-sm-4 col-md-4">
      <p>
        <% @onTeamWRs.each do |wr| %>
          <%= wr.display_name %><br>
        <% end %>
      </p>
    </div>
    <div class="col-sm-4 col-md-4">  
      <p>
        <% @onTeamTEs.each do |te| %>
          <%= te.display_name %><br>
        <% end %>
      </p>
    </div>
  </div>

</div>