<div class="col-sm-12 col-md-12">  

  <!-- position headers -->
  <div class="row throwToHeader">
    <div class="col-sm-4 col-md-4">  
      <h6><u>Running Backs</u></h6>
    </div>
    <div class="col-sm-4 col-md-4">  
      <h6><u>Wide Receivers</u></h6>
    </div>
    <div class="col-sm-4 col-md-4">  
      <h6><u>Tight Ends</u></h6>
    </div>
  </div>

  <!-- position players sorted by depth chart position in controller -->
  <div class="row throwToPlayers">
    <div class="col-sm-4 col-md-4">
      <p>
        <% @onTeamRBs.each do |rb| %>
          <%= rb.display_name %><br>
        <% end %>
      </p>
    </div>
    <div class="col-sm-4 col-md-4">
      <p>
        <% @onTeamWRs.each do |wr| %>
          <%= wr.display_name %><br>
        <% end %>
      </p>
    </div>
    <div class="col-sm-4 col-md-4">  
      <p>
        <% @onTeamTEs.each do |te| %>
          <%= te.display_name %><br>
        <% end %>
      </p>
    </div>
  </div>

</div>