<% content_for :sidebar do %>
  <!-- <body class='stadiumBackground'> -->
<% end %>









<div class="row-fluid">

  <div class="span7">
    <div class="row-fluid">
      <div class="span12  welcomebackground maintext">
        <h1 class= "text-center">Welcome!</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget risus at nulla lobortis tincidunt. Cras malesuada nisl magna, vitae lobortis quam convallis sed. Ut accumsan dapibus eros ut porttitor. Donec in tempor enim. Sed pharetra mi ante, at fermentum mauris lobortis at. Morbi feugiat, nulla eget dictum pharetra, neque lectus tristique mauris, in pretium est ligula in libero. Vestibulum accumsan libero id urna elementum, vitae imperdiet nibh volutpat. Suspendisse convallis mi odio, ut eleifend odio cursus quis. Nullam tempor lectus eu tortor feugiat, a blandit neque ullamcorper. Suspendisse potenti. Vivamus id augue vel erat facilisis iaculis a eu urna. Sed sit amet diam ac quam accumsan porttitor sed vitae metus. Integer vel eros erat. Quisque iaculis mi aliquam diam cursus ultrices. Suspendisse blandit auctor mauris eget dictum.</p>

        <p>Pellentesque sed enim rhoncus, rutrum augue non, accumsan neque. Sed adipiscing, sapien at iaculis ullamcorper, mauris tellus accumsan tellus, nec sollicitudin sapien enim eu tellus. Cras tincidunt arcu augue, et luctus lorem aliquet ut. Aliquam auctor ornare lectus ac gravida. Quisque ipsum massa, pharetra id turpis sit amet, mollis pretium sapien. Duis magna est, suscipit sit amet quam sit amet, scelerisque venenatis nisl. Nullam interdum sem diam, in dapibus ante sodales pellentesque. Mauris in justo ac nisi aliquam volutpat. Quisque sed tristique justo. Aliquam lobortis ut felis a sagittis. Sed gravida elit non adipiscing vestibulum. Suspendisse potenti.</p>
      </div>
    </div>
  </div>


  <div class="span5 playerselect maintext">

  </div>

</div>


<script type="text/javascript">
  

</script>

