/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require custom_bootstrap/custom_bootstrap
 * require jquery.mobile
 *= require select2
 *= require select2-bootstrap
 *= require dataTables/jquery.dataTables

*/

@font-face {
  font-family: 'ChangaOneRegular';
  src: url('ChangaOne-Regular.ttf')  format('truetype');
}
body {
  padding-top: 50px;
}

html, body {
  height: 100%;
}

.navbar-header a.navbar-brand {
  font: 1.5em 'ChangaOneRegular';
  text-transform: uppercase;
}
#sidebarNav {
  position: fixed;
  background-color: #9cb0d1;
  border: 1px solid white;
  height: 100%;
  padding: 0px;
  margin-left: 0px;
}
#main {
  padding-bottom: 50px;
}
.container-fluid, .tall {
  height: 100%
}
div.no-padding {
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

div.introjs-helperLayer {
  background-color: rgba(255, 255, 255, 0.15);
}
nav.introjs-fixParent {
  z-index: 1 !important;
  opacity: 1.0;
  display: hidden;
}







