// Place all the styles related to the AverageDraftPosition controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#adp {
  text-align: center;
}
tr.qb {
  color: red;
}
tr.rb {
  color: orange;
}
tr.wr {
  color: green;
}
tr.te {
  color: blue;
}
tr.k {
  color: black;
}
table.dataTable tbody tr.highlight {
  background-color: #ffd6aa;
}
