// Place all the styles related to the compare controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*@import url(http://fonts.googleapis.com/css?family=Vollkorn);*/

/* draft#breakdown css */
.breakdown-draft-chart {
  max-width: 100%;
  margin: 0;

}
button.breakdown-draft-buttons {
  width: 100%;
  margin-top: 5px;
  white-space: normal;
  word-wrap: break-word;
  font-size: 0.8em;
}

div.breakdown-button {
  font-size: 0.8em;
}




/* players#breakdown css*/
div.charts-buttons-container {
  padding: 0px;
}
.charts-buttons-container .charts-buttons {
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  font-size: 1.0em;
}
button.charts-buttons {
  padding: 0px;
}
div.players-buttons-container {
  padding: 0px;
}
button.players-buttons {
  font-size: 1.0em;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 0px;
}
.breakdown-chart {
  min-width: 310px;
  max-width: 100%;
  height: 40em;
  margin: 0;
}

div#breakdown-player-quick-info {
  cursor: pointer;
  -moz-user-select: none; /* mozilla browsers */
  -webkit-user-select: none; /* webkit browsers */
}
div#breakdown-player-quick-info, .selectedText p {
  margin: 0px 0px 0px 2px;
  font-size: 0.8em;
}
h5.breakdown-player-info-name, .selectedText {
  font-size: 1.3em;
  color: #110B35;
}
img#breakdown-player-delete_tag {
  margin-right: 5px;
  height: 1.3em;
  margin: 1em 0em 0em 0em;

  display: inline-block;
}
img#breakdown-player-delete_tag:hover {
  cursor: pointer;
  color: white;
  background-color: white;
  border-radius:30%;
}
.breakdown-player-extra-info {
  display: none;
}



