// Place all the styles related to the cheatsheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table#indexTable {
  text-align: center;
}
tr.qb {
  color: red;
}
tr.rb {
  color: orange;
}
tr.wr {
  color: green;
}
tr.te {
  color: blue;
}
tr.k {
  color: purple;
}
tr.dst {
  color: black;
}
table.dataTable tbody tr.highlight {
  background-color: #a5ffe8;  
}
table.dataTable tbody td {
  cursor: pointer;
  -moz-user-select: none; /* mozilla browsers */
  -webkit-user-select: none; /* webkit browsers */
}
