// Place all the styles related to the cheatsheet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* laboratory */
#indexTable { 
  table-layout: fixed; 
}
table#indexTable td {
  text-align: left;
  font-size: .9em;
  padding: 0px 0px;
  background-color: rgba(255, 22, 0, 0.250);
}
table#indexTable th {
  text-align: left;
  font-size: .7em;
  padding: 0px 0px;
}

table.dataTable tbody tr.highlight {
  background-color: gray;
}
table.dataTable tbody td {
  cursor: pointer;
  -moz-user-select: none; /* mozilla browsers */
  -webkit-user-select: none; /* webkit browsers */
}
tr.qb {
  color: red;
}
tr.rb {
  color: orange;
}
tr.wr {
  color: green;
}
tr.te {
  color: blue;
}
tr.k {
  color: purple;
}
tr.dst {
  color: black;
}
#searchBar {
  float: right;
}
.checkboxes {
  position: absolute;
  margin-top: 10px;
  z-index: 1;
}
.labChart {
  display: none;
}
label.cheatsheetChecks {
  display: inline-block;
  float: left;
  margin-left: 10px;
}