// Place all the styles related to the compare controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*@import url(http://fonts.googleapis.com/css?family=Vollkorn);*/

h3, p, a, li {
  /*font-family: "Vollkorn";*/
}

span#delete:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 100%;
  text-align: center;
}

label {
  display: block;
}

p#player {
  margin: 0px 10px 5px 0px;
  display: block;
}

.span2.fixed {
  position: fixed;
  display: block;
}

.labChart {
  min-width: 310px;
  max-width: 100%;
  height: 500px;
  margin: 0;
}

/*body {
  background-color: #2b592c;
}*/