// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Brawler);

/* show#players css */
div.show-search-box {
  margin-top: 20px;
}
.show-player-name {
  margin-top: 20px;
  display: none;
}
.show-quick-stats {
  margin-top: 40px;
  font-size: 0.9em;
  display: none;
}
div.row-fluid.show-logo-container {
  position: relative;
  vertical-align: bottom;
  height: 100%
}
div.show-logo-column {
  position: absolute;
  bottom: 0;
  margin-bottom: 10em;
}
img.show-logo-img {
  width: 100%;
  border-radius: 30%;
  border: 2px solid #110B35;
}
div.show-projections-and-stats p {
  font-size: 0.8em;
  margin: 1px auto; 
}
div.throwToHeader {
  font-size: 1em;
  margin-top: 20px;
}
div.throwToPlayers {
  font-size: 0.8em;
  margin-top: 0px;
}
.stats-divider {
  margin: 5px 0px 2px 0px;
}
.stat-category {
  margin: 2px;
}

/* index#player ROOT css */

div.index-background-img {
  background: url("simulated-stadium.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
}
.main-page-title {
  font: 7.0em 'ChangaOneRegular';
  color: #9cb0d1;
  text-transform: uppercase;
  margin-top: 40%;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #110B35;
}
#main-title-step {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  
}
.background-image-container-container, .background-image-container {
  height: 100%;
}
div.index-search-box {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 5px 0px;
  border: 2px solid #110B35;
  border-radius: 50px;
}
#news-divider {
  margin: 5px auto;
  border-top: 1px solid #110B35;
}
div.league-news{
  /*font: 1.0em 'Brawler' #110B35;*/
  font-color: #110B35;
  background-color: rgba(255, 255, 255, 0.5);
  padding-bottom: 10px;
  border-radius: 10px;
}
h6.headline {
  font: 1.0em 'Brawler' #110B35;
}
#news-header {
  font: 1.1em 'Brawler';
  color: #110B35;
}
.reference-logos {
  height: 50px;
}
.reference-logo-container {
  margin-top: 0.9em;
}









