// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcomebackground {
  background-color: #bebebe;
  opacity: 0.95;
  padding: 1em;
  border-radius: 2em;
}

.maintext {
  color: black;
}

.playerselect {
  background-color: #bebebe;
  opacity: 0.95;
  padding: 1em;
  border-radius: 2em;
  padding-bottom: 3em;
  a {
    color: black;
    font-size: 1.1em;
  }
}


#searchSummaryTable {
  font-size: 0.9em;
  width: 100%;
}
#searchSummaryTable th {
  font-style: normal;
  text-align: left;
}

i {
  cursor: pointer;
}

.showTopContainer {
  background: black;
  padding: 1em;
  border-radius: 3em;
  color: white;
}

.columnDefault {
  background: black;
  padding: 1em;
  border-radius: 3em;
  color: white;
  margin-left: 0px;
  a {
    color: teal;
  }
}
#mainShowDivider {
  border-top: 1px solid black;
}
.all_stats p {
  font-size: 0.9em;
}
img {
  width: 100%;
  margin-top: 2.3em;
  border-radius: 30%;
}