// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* show#players css */
div.show-search-box {
  margin-top: 20px;
}
div.show-player-name {
  margin-top: 20px;
}
div.show-quick-stats {
  margin-top: 40px;
  font-size: 0.9em;
}
div.row-fluid.show-logo-container {
  position: relative;
  vertical-align: bottom;
  height: 100%
}
div.show-logo-column {
  position: absolute;
  bottom: 0;
  margin-bottom: 10em;
}
img.show-logo-img {
  width: 100%;
  border-radius: 30%;
}
div.show-projections-and-stats p {
  font-size: 0.8em;
}
div.throwToHeader {
  font-size: 1em;
  margin-top: 20px;
}
div.throwToPlayers {
  font-size: 0.8em;
  margin-top: 0px;
}


/* index#player ROOT css */
div.index-background-img {
  background: url("saints.jpg");
  background-size: 100% auto;
  background-repeat: repeat;
  height: 100%;
}